.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 64px;
}

.logotitle {
  display: flex;
  align-items: center;
}

img {
  margin-right: 24px;
}

h2 {
  font-size:xx-large;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 16px;
  font-size: larger;
}

.navitem {
  text-decoration: none;
}
