.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 10%;
}

.logotitle {
  display: flex;
  align-items: center;
}

.span {
  font-size: xx-large;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

img {
  margin-right: 24px;
}

h2 {
  font-size: xx-large;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 16px;
  padding: 0;
  font-size: medium;
}

.navitem {
  text-decoration: none;
  color: #fff;
}
