.profile {
  display: flex;
  flex-direction: row;
  margin: 16px 64px;
}

.missions {
  margin-right: 32px;
}

h2 {
  margin-bottom: 16px;
  margin-top: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 34vw;
}

.element {
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 34vw;
}

li {
  padding: 16px 32px 32px 8px;
}